{% extends 'base.html' %}
{% load bootstrap4 %}
{% block page_title %}
    Listado de usuario de una franquicia
{% endblock %}

{% block content %}
    <a class="btn btn-info float-right" href="{% url 'users:create' %}">Nuevo Usuario</a>
    <br>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Email</th>
                <th>Primer Nombre</th>
                <th>Primer Apellido</th>
                <th class="text-center">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.first_name_1 }}</td>
                <td>{{ user.last_name_1 }}</td>
                <td class="text-center">
                    <a class="btn text-danger" href="{% url 'users:edit' pk=user.id %}"><i class="fas fa-edit"></i></a>
                    <button class="btn text-info"><i class="far fa-eye"></i></button>
                    <button class="btn text-danger" data-toggle="modal" data-target="#delete_modal_{{ user.id }}">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <div class="modal fade" id="delete_modal_{{ user.id }}" tabindex="-1">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Esta seguro de elimiar el usuario "{{ user.first_name_1 }}"
                                </div>
                                <div class="modal-footer">
                                    <form action="{% url 'users:delete' user.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-danger">Aceptar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if users.has_other_pages %}
    <ul class="pagination">
        {% if users.has_previous %}
        <li><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in users.paginator.page_range %}
        {% if users.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if users.has_next %}
        <li><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}
